.rectangle {
    width: calc(100% - 222px);
    height: 650px;
    background-color: white;
    margin: 78px 111px 79px;
    box-shadow: 10px 19px 23.3px 0px rgba(6, 29, 82, 1);
    border-radius: 6px;
    position: relative;
}

.inner {
    width: calc(100%);
    height: 450px;
    background-color: #061D52FF;
    position: absolute;
    top: 100px;
}
