.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 78px - 79px); /* Высота экрана за вычетом хэдера и нижнего отступа */
    padding: 0 100px;
    margin-top: 58px;
}

.rectangle {
    display: flex;
    width: 90%;
    max-width: calc(100vw - 201px); /* Вычет отступов 100px слева и 101px справа */
    height: 650px;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

.leftSide, .rightSide {
    flex: 1;
}

.leftSide {
    position: relative;
    background-color: white;
    padding: 20px; /* Настройте отступы по вашему усмотрению */
    max-height: 80vh; /* Ограничиваем высоту панели */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
}

.rightSide {
    padding: 20px; /* Настройте отступы по вашему усмотрению */
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание */
    justify-content: flex-start; /* Выравнивание по началу */
    background-color: #061D52; /* Синий цвет правой половины */
}

.formTitle {
    text-align: center;
    color: #000000;
    font-size: 2em; /* Адаптивный размер шрифта */
    font-weight: 700;
}

.formGroup {
    margin-top: 22px;
    margin-left: 20px;
}

.formSubtitle {
    font-size: 1.5em; /* Адаптивный размер шрифта */
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

.selectWrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    padding: 8px 40px 8px 12px; /* Отступ справа для стрелки */
    width: 30%; /* Ширина селекта 100% */
    font-size: 1em; /* Адаптивный размер шрифта */
    border: 1px solid #000;
    border-radius: 6px;
    background-image: url('../../assets/select-icon.svg'); /* Укажите путь к вашей SVG */
    background-repeat: no-repeat;
    background-position: right 12px center; /* Позиция SVG */
    background-size: 16px; /* Размер SVG */
}

.radioGroup {
    margin-top: 10px;
}

.radioGroup h4 {
    margin-bottom: 8px;
}

.radioGroup label {
    margin-right: 15px;
    font-size: 1em; /* Адаптивный размер шрифта */
}

.radioGroup input {
    margin-bottom: 10px;
}

.arrow {
    float: right;
    transition: transform 0.3s ease; /* Плавный переход для трансформации */
    bottom: 80%;
    right: 2%;
}

.arrow:disabled {
    cursor: not-allowed;
    transform: none;
}

.arrow:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.titlesWrapper {
    margin-top: 70px;
    margin-left: 40px;
}

.locationArrow {
    margin-left: 18px;
}

.currentLocation {
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em; /* Адаптивный размер шрифта */
    display: flex;
    align-items: center;
}

.titleWithArrow {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2em; /* Адаптивный размер шрифта */
    display: flex;
    align-items: center;
}

.additionalOptions {
    margin-top: 20px;
}

.arrowWrapper {
    position: relative; /* Задаем родителю относительное позиционирование */
}

/* Поля ввода */
.temperatureInput, .anotherInput {
    padding: 5px;
    font-size: 1em; /* Адаптивный размер шрифта */
    border: 1px solid #000; /* Стандартная граница */
    border-radius: 6px;
    height: 30px;
    width: 100%; /* Ширина инпута 100% */
    transition: border-color 0.3s ease; /* Плавный переход для рамки */
}

/* Заголовки */
h3 {
    font-weight: 600;
    margin-bottom: 5px;
}

label {
    margin-bottom: 5px;
}

h4 {
    margin-top: 10px;
    font-weight: 550;
}

/* Медиа запросы для адаптивности */
@media (max-width: 1180px) {
    .wrapper {
        padding: 0 50px; /* Уменьшаем отступы */
    }

    .formTitle, .formSubtitle, .currentLocation, .titleWithArrow {
        font-size: 1em; /* Уменьшаем размер шрифта */
    }

    .select {
        width: 30%;
        font-size: 0.7em; /* Уменьшаем размер шрифта селекта */
    }
}

@media (max-width: 800px) {
    .wrapper {
        padding: 0 20px; /* Уменьшаем отступы */
    }

    .formTitle, .formSubtitle, .currentLocation, .titleWithArrow {
        font-size: 0.8em; /* Уменьшаем размер шрифта */
    }

    .select {
        width: 25%;
        font-size: 0.6em; /* Уменьшаем размер шрифта селекта */
    }
}

@media (max-width: 600px) {
    .wrapper {
        flex-direction: column; /* Меняем направление на вертикальное */
        margin-top: 20px; /* Уменьшаем отступ сверху */
    }

    .rectangle {
        height: auto; /* Автоматическая высота */
    }

    .formTitle, .formSubtitle, .currentLocation, .titleWithArrow {
        font-size: 0.7em; /* Уменьшаем размер шрифта для очень маленьких экранов */
    }

    .select {
        width: 15%;
        font-size: 0.5em; /* Уменьшаем размер шрифта селекта */
    }
}
