.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 78px - 79px);
    padding: 0 100px;
    margin-top: 58px;
}

.rectangle {
    display: flex;
    width: 90%;
    max-width: calc(100vw - 201px);
    height: 650px;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

.leftSide, .rightSide {
    flex: 1;
}

.leftSide {
    position: relative;
    background-color: white;
    padding: 20px;
}

.rightSide {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #061D52;
}

.formTitle {
    text-align: center;
    color: #000000;
    font-size: 2rem; /* Используем rem для адаптивности */
    font-weight: 700;
}

.formGroup {
    margin-top: 22px;
    margin-left: 20px;
}

.formSubtitle {
    font-size: 1.5rem; /* Используем rem для адаптивности */
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

.selectWrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    padding: 8px 40px 8px 12px;
    width: 100%;
    font-size: 1rem; /* Используем rem для адаптивности */
    border: 1px solid #000;
    border-radius: 6px;
    background-image: url('../../assets/select-icon.svg');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
}

.radioGroup {
    margin-top: 10px;
}

.radioGroup h4 {
    margin-bottom: 8px;
}

.radioGroup label {
    margin-right: 15px;
    font-size: 1rem; /* Используем rem для адаптивности */
}

.arrow {
    float: right;
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 10%;
    right: 2%;
}

.arrow:disabled {
    cursor: not-allowed;
    transform: none;
}

.arrow:not(.disabledArrow):hover {
    transform: scale(1.1);
}

.disabledArrow {
    cursor: not-allowed;
    transform: none;
}

.titlesWrapper {
    margin-top: 70px;
    margin-left: 40px;
}

.locationArrow {
    margin-left: 18px;
}

.currentLocation {
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem; /* Используем rem для адаптивности */
    display: flex;
    align-items: center;
}

.titleWithArrow {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem; /* Используем rem для адаптивности */
    display: flex;
    align-items: center;
}

.additionalOptions {
    margin-top: 20px;
}

/* Медиа запросы для адаптивности */
@media (max-width: 1200px) {
    .wrapper {
        padding: 0 50px; /* Уменьшаем отступы */
    }
    .formTitle, .formSubtitle, .currentLocation, .titleWithArrow {
        font-size: 1.5rem; /* Уменьшаем размер шрифта */
    }
}

@media (max-width: 800px) {
    .wrapper {
        padding: 0 20px; /* Уменьшаем отступы */
    }
    .formTitle, .formSubtitle, .currentLocation, .titleWithArrow {
        font-size: 0.75rem; /* Уменьшаем размер шрифта */
    }
    .select {
        font-size: 0.4rem; /* Уменьшаем размер шрифта для селекта */
    }
}

@media (max-width: 600px) {
    .wrapper {
        flex-direction: column; /* Меняем направление на вертикальное */
        margin-top: 20px; /* Уменьшаем отступ сверху */
    }
    .rectangle {
        height: auto; /* Автоматическая высота */
    }
}
